.container{
    width: 85%;
    gap: 0.5rem;
    align-items: flex-start;
}
.container img{
    width: 2rem;
    height: 3.5rem;
    border-radius: 100%;
} 
.container div:hover{
    cursor: pointer;
}
.username{
    font-weight: 100;
    font-size: .8rem;
}